*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}